.skill {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    box-sizing: border-box;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    .box{
        max-width: 900px;
    }
    table {
        border-collapse: collapse;
        margin-top: 15px;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        width: 100%;
    }

    th,
    td {
        padding: 12px 15px;
        text-align: left;
    }

    th {
        background-color: #e0eaf4;
    }

    
}